<div class="container-fluid"
     style="background-size: cover; background: url('static/assets/img/background.png') no-repeat center;">
    <div class="col page-title">
        <div class="row align-items-center justify-content-center" align="center">
            <h1 class="font-weight-bolder">UR</h1>
            <h1>Hope</h1>
        </div>
        <div class="row align-items-center justify-content-center">
            <h6>We provide information regarding health, food, shelter, etc. across India</h6>
        </div>
        <div class="row mt-4" hidden>
            <div class="col" align="right">
                <button class="btn btn-light">I Need Help!</button>
            </div>
            <div class="col justify-content-end" align="left">
                <button class="btn btn-danger">I Can Help!</button>
            </div>
        </div>
    </div>
</div>