
<div class="container-fluid"
     style="background-size: cover; background: url('static/assets2/img/background.png') no-repeat fixed center;">
    <div class="col page-title">
        <div class="row align-items-center justify-content-center" align="center">
            <a class="navbar-brand" href="#">
                <img src="static/assets2/img/Logos/Logo3.png" height="50" alt="">
            </a>
        </div>
        <div class="row align-items-center justify-content-center">
            <h6>We provide information regarding health, food, shelter, etc. across India</h6>
        </div>
    </div>
</div>
