<div class="step3-table-div pt-4 pb-4" style="background-color: white">
    <div class="step3-title row justify-content-between">
        <h4 class="col-6">FOOD</h4>
        <div class="search-filter col-6">
            <div class="row justify-content-end">
                <p class="align-items-center justify-content-center" style="margin-bottom: 0px;">Filter:&nbsp&nbsp</p>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false" style="text-transform: capitalize">Choose Filter...
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">State Government</a>
                        <a class="dropdown-item" href="#">Central Government</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div><!-- /btn-group -->
            </div>
        </div>
    </div>


    <div class="row">
        <table class="table step3-table">
            <thead>
            <tr>
                <th scope="col">Initiative</th>
                <th scope="col">Contact No</th>
                <th scope="col">Link</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="initiative-heading">
                        <h6>Public Food Shelter with a long name for 2 lines.</h6>

                    </div>
                    <div class="initiative-description">
                        <p>Noti Karanprayag Rd, near Tehsil Office, Karanprayag, Uttarakkhand 246444</p>
                    </div>
                </td>
                <td>
                    <div class="initiative-contact">
                        <p><a href="">01334-235010</a>,
                            <a href="">9897059100</a>,
                            <a href=""> 9458946719</a></p>
                    </div>
                </td>
                <td><a href="">View</a></td>
            </tr>
            <tr>
                <td>
                    <div class="initiative-heading">
                        <h6>This is another food shelter in vijayawada</h6>

                    </div>
                    <div class="initiative-description">
                        <p>Noti Karanprayag Rd, near Tehsil Office, Karanprayag, Uttarakkhand 246444</p>
                    </div>
                </td>
                <td>
                    <div class="initiative-contact">
                        <p><a href="">01334-235010</a>,
                            <a href="">9897059100</a>,
                            <a href=""> 9458946719</a></p>
                    </div>
                </td>
                <td><a href="">View</a></td>
            </tr>
            <tr>
                <td>
                    <div class="initiative-heading">
                        <h6>Public Food Shelter with a long name for 2 lines.</h6>

                    </div>
                    <div class="initiative-description">
                        <p>Noti Karanprayag Rd, near Tehsil Office, Karanprayag, Uttarakkhand 246444</p>
                    </div>
                </td>
                <td>
                    <div class="initiative-contact">
                        <p><a href="">01334-235010</a>,
                            <a href="">9897059100</a>,
                            <a href=""> 9458946719</a></p>
                    </div>
                </td>
                <td><a href="">View</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>