
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">

          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item">
                &copy; <a href="https://www.creative-tim.com/product/argon-dashboard">URHOPE</a> Developed By URHOPE
              </li>
            </ul>
          </div>
        </div>
      </footer>
