
.help-options {
    color: white !important;
    font-weight: bolder !important;
    background-size: cover;
    height: 60px;
}

.options {
    position: relative;
    display: flex;
    flex: 1;
    max-height: 800px;
    /*width: 250px;*/
    /*align-items: center;*/
    border-radius: 20px;
    position: relative;
    margin: 15px 0px;
    justify-self: center;
    align-self: center;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
}

.options:hover .options-title{
    font-size: medium;
}

.options-img {
    height: auto;
    position: relative;
    width: 100%;
    z-index: 2;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    opacity: 1;
    display: flex;
    transition: filter 0.1s ease-in-out;
    filter: brightness(50%);

}

.options-title {
    position: absolute;
    z-index: 3;
    /*transition: 0.5s ease-in-out;*/
    text-transform: uppercase;
    font-weight: bold;
    line-height: normal;
    padding: px;
    align-self: center;
    justify-self: center;
    color: white;
    font-size: small;
    text-align: center;
    width: 100%;
    transition: .2s all;
}


#exTab1 .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}

#exTab2 h3 {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0;
}

#exTab3 .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}


/* PINCODE SEARCH STARTS */

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    max-height: 300px;
    overflow: scroll;
    font-size: small;
}

@media (max-width: 576px) {
    .autocomplete-items {
        font-size: xx-small;
    }

}


.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

/* PINCODE SEARCH ENDS */


/* NAVBAR STARTS */

.navbar {
    transition: all 0.2s;
}

.navbar-logo {
    /*transition: all 0.5s;*/
}

.navbar-logo.hidden {
    display: none;
}

.navbar .nav-link {
    color: #fff;
    font-size: small;
}

@media (max-width: 576px) {
    .navbar .nav-link {
        font-size: medium;
    }

}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    /*color: #fff;*/
    text-decoration: none;
    font-weight: bold;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    /*color: #555;*/
    font-weight: bold;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

/* NAVBAR ENDS */

/* HOMEPAGE TITLE STARTS */
.page-title {
    padding-top: 150px;
    padding-bottom: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

/* HOMEPAGE TITLE ENDS */

/* HELP SECTION STARTS */
.next-btn {
    -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
}

.next-btn:hover {
    background-color: black;
}

.card-custom {
    background-color: white;
    border-radius: 5px;
    padding: 20px 30px;
    /*border: 1px solid gray;*/
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
    /*text-align: justify;*/
}


.card-footer-custom button,
.card-footer-custom a,
.card-footer-custom h6 {
    padding: 5px 10px;
    font-size: 17px;
!important text-transform: capitalize;
    margin-bottom: 0px;
}

.card-footer-custom hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.step3-table {
    font-size: small;
    margin-top: 20px;
}

@media (max-width: 576px) {
    .step3-table h6, .initiative-heading h4 {
        font-size: x-small;
    !important;
    }

    .step3-table p, .initiative-description p, .modal .table-body, .modal th {
        font-size: xx-small;
    !important;
    }

    .card-footer-custom button,
    .card-footer-custom a,
    .card-footer-custom h6 {
        padding: 5px 10px;
        font-size: 12px;
    !important text-transform: capitalize;
        margin-bottom: 0px;
    }
}

@media (max-width: 768px) {
    .step3-table h6, .initiative-heading h4 {
        font-size: small;
    !important;
    }

    .step3-table p, .initiative-description p, .modal .table-body, .modal th {
        font-size: x-small;
    !important;
    }

}


.step3-table > tbody > tr > th,
.step3-table > tfoot > tr > td,
.step3-table > tfoot > tr > th,
.step3-table > thead > tr > td,
.step3-table > thead > tr > th {
    border: none;
}

.filter {
    border: none !important;
    background-color: transparent !important;
    font-size: 0.5rem !important;
}

.filter:focus {
    outline: none;
}


.modal .table > tbody > tr > td {
    border: none;
}

.step3-table > thead > tr > th {
    font-weight: bold;
    color: gray;
}

.step3-table-div button,
.modal-body button, .modal-footer button {
    font-size: xx-small;
}

.step3-table h6, .initiative-heading h4 {
    font-size: x-small;
}

.step3-table p, .initiative-description p, .modal .table-body, .modal th {
    font-size: xx-small;
}

.step3-table td {
    padding: 0.25rem !important;
}

.step3-table-nav {
    font-size: x-small;
}

.search-filter .dropdown-item {
    font-size: x-small;
}

.step3-table-nav .nav-link {
    padding: .5rem .5rem;
}

.step3-table-div h4 {
    font-size: small;
}

@media (min-width: 576px) {


}

@media (min-width: 768px) {
    .modal-body button, .modal-footer button {
        font-size: x-small;
    }

    .step3-table h6, .initiative-heading h4 {
        font-size: small;
    }

    .step3-table p, .initiative-description p, .modal .table-body, .modal th {
        font-size: x-small;
    }

    .step3-table td {
        padding: 0.5rem !important;
    }

    .step3-table-nav {
        font-size: small;
    }

    .search-filter .dropdown-item {
        font-size: small;
    }

    .step3-table-nav .nav-link {
        padding: .5rem 1rem;
    }

    .step3-table-div h4 {
        font-size: medium;
    }

}

@media (min-width: 992px) {
    .step3-table-div button,
    .modal-body button, .modal-footer button {
        font-size: small;
    }

    .step3-table h6, .initiative-heading h4 {
        font-size: large;
    }

    .step3-table p, .initiative-description p, .modal .table-body, .modal th {
        font-size: small;
    }

    .step3-table td {
        padding: 0.75rem !important;
    }

    .step3-table-nav {
        font-size: medium;
    }

    .search-filter .dropdown-item {
        font-size: medium;
    }

    .step3-table-nav .nav-link {
        padding: .5rem 1rem;
    }

    .step3-table-div h4 {
        font-size: xx-large;
    }

    .filter {
        font-size: 0.875rem !important;
    }


}

@media (min-width: 1200px) {
    .step3-table-div button,
    .modal-body button, .modal-footer button {
        font-size: small;
    }

    .step3-table h6, .initiative-heading h4 {
        font-size: large;
    }

    .step3-table p, .initiative-description p, .modal .table-body, .modal th {
        font-size: small;
    }

    .step3-table td {
        padding: 0.75rem !important;
    }

    .step3-table-nav {
        font-size: medium;
    }

    .search-filter .dropdown-item {
        font-size: medium;
    }

    .step3-table-nav .nav-link {
        padding: .5rem 1rem;
    }

    .step3-table-div h4 {
        font-size: xx-large;
    }

    .filter {
        font-size: 0.875rem !important;
    }

}

/* HELP SECTION ENDS */

/* CARDS STARTS */

.card-columns {
    column-count: 1 !important;
}

.card {
    font-size: 12px;
}

.card-text {
    font-weight: lighter !important;
    color: gray;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .card {
        font-size: 15px;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 2 !important;
    }

    .card-columns.team {
        column-count: 3 !important;
    }

    .card {
        font-size: 15px;
    }

    .card h4 {
        font-size: large;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 2 !important;
    }

    .card {
        font-size: 15px;
    }
}

.profile-placeholder {
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    width: 90px;
}

.social-links {
    text-align: center;
}

.card {
    border: none !important;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
    text-align: justify !important;
}

@media (max-width: 425px) {
    .help-card button,
    .help-card h6,
    .help-card a {
        font-size: 0.75rem;
    }

    .help-card h4 {
        font-size: 1rem;
    }
}

/* CARDS ENDS */

/* MISC STARTS */
body {
    font-family: 'Poppins', sans-serif;
}

header {
    font-family: 'Poppins', sans-serif;
}

* {
    font-family: 'Poppins', sans-serif;
}

/* MISC ENDS */

.button-checkbox .active:before {

}