{% extends "base_site.html" %}

{% block title %} Profile {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

    {% include "site_template/navigation.html" %}
      
    <!-- Header -->
    <div class="header pb-3 pt-5 pt-lg-3 d-flex align-items-center" style=" background-size: cover; background-position: center top;">
    <!-- Mask -->
    <!-- Header container -->
    </div>
      
    <!-- Page content -->
                  
                    
<div align="center">
<div class="row mt-5" >
        <div class="col-xl-8 ml-2 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h1 class="text-center mb-4">Voluteers' List</h1>
                </div>
                                     {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}  
                                                      {% if (message.startswith("Thanks")) %}
                                                      <div class="alert alert-success alert-dismissible" role="alert">
                                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                          {{message}}
                                                      </div>
                                                      {% else %}
                                                      <div class="alert alert-danger alert-dismissible" role="alert">
                                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                          {{message}}
                                                      </div>
                                                      {% endif %}

                                                      {% endfor %} {% endif %} {% endwith %}  
               
  
            </div>
            {% if len>0 %}
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Volunteer Name</th>
                    <th scope="col">Email ID</th>
                    <th scope="col">Contact No</th>
                  </tr>
                </thead>
                <tbody>
                  {% for value in data %}
                  <tr>
                    <td>
                      {{value[6]}}
                    </td>
                    <td>
                      {{value[2]}}
                    </td>
                    <td>
                      {{value[8]}}
                    </td>                        
                  </tr> 
                  {% endfor %}
                  {% else %}
                    <tr>
                      <div class="">
                          <h3>There are not any volunteer who has applied for this task.</h3>
                          <br>
                          <p>Note: If you don't see any volunteer who was present here before then, probably he/she has taken back their application.</p>
                      </div>
                    </tr>  
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div></div>
        {% include "site_template/footer.html" %}
        
    </div>   
  </div> 
	
{% endblock content %}

