{% extends "base_site1.html" %}

{% block content %}

<!-- Page Content -->
<div class="container mt-2">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="options" onclick="location.href='/relief';" style="cursor: pointer">
                <div>
                    <img src="../static/assets2/img/BG.jpeg" class="options-img"/>
                </div>
                <div class="options-title p-2"><i style="font-size: xx-large" class="fa fa-map-marker"
                                                  aria-hidden="true"></i><br>
                    Find relief anywhere
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="options" onclick="location.href='/signup';" style="cursor: pointer">
                <div>
                    <img src="../static/assets2/img/Volunteer.jpeg" class="options-img"/>
                </div>
                <div class="options-title p-2"><i style="font-size: xx-large" class="fa fa-user" aria-hidden="true"></i><br>
                    Do you want to <br>volunteer?
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="options" onclick="location.href='/login';" style="cursor: pointer">
                <div>
                    <img src="../static/assets2/img/Find_volunteers.jpeg" class="options-img"/>
                </div>
                <div class="options-title p-2"><i style="font-size: xx-large" class="fa fa-search"
                                                  aria-hidden="true"></i><br>
                    Find Volunteers
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="options" onclick="location.href='/signup';" style="cursor: pointer">
                <div>
                    <img src="../static/assets2/img/NPO.jpeg" class="options-img"/>
                </div>
                <div class="options-title p-2"><i style="font-size: xx-large" class="fa fa-handshake-o"
                                                  aria-hidden="true"></i><br>
                    Are you an NGO?
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="card-columns">
        <div class="card p-4 mb-4">
            <div class="card-block">
                <h4 class="card-title">About Us</h4>
                <p class="card-text">We make the navigation of the relief process easy by creating a common platform to
                    connect the people
                    who need relief with those (Govt. initiatives/NGOs/groups/individuals) who are providing relief and
                    also to people who want to volunteer</p>
                <a href="https://www.facebook.com/URHope.team/">Learn More</a>
            </div>
        </div>

        <div class="card p-4 mb-5">
            <div class="card-block">
                <h5 class="card-title">Who are we?</h5>
                <p class="card-text">We are a group of enthusiasts comprising of students and
                    working professionals from
                    IIT Bombay and
                    beyond coming from the fields ranging from engineering, management, biosciences to Humanities and
                    Social Sciences who are passionate towards the issues of social justice. We have come together to
                    make the navigation of the relief process easy in the times of Covid19 crisis. There is a barrage of
                    information circulating around regarding the relief programmes; on the one hand, it is a kind and
                    responsible gesture, however, on the other, at times, the people who actually need relief are not
                    able to navigate the enormous amount of information available and reach the suitable relief
                    providers in their vicinity. So, we decided to create a common platform to bring together the people
                    who need relief, people (Govt. initiatives/NGOs/groups/individuals) who are already providing the
                    relief and the ones who want to volunteer in such relief programmes.</p>
                <a href="https://www.facebook.com/URHope.team/">Learn More</a>
            </div>
        </div>

        <div class="card p-4 mb-5">
            <div class="card-block">
                <h4 class="card-title">What we do?</h4>
                <p class="card-text">There are people who want to contribute to society-as helping hand, as donors, as
                    volunteers and
                    then
                    there are NGOs and Governments-who want help from these people to solve some of the biggest problems
                    of society. And in times like today, with pandemic like COVID-19/corona-many people are in need of
                    urgent help. These are the times when we need cooperation and help more than anything else. So, we
                    are providing a platform/interface for people, NGO and Government organizations to connect and solve
                    the humanitarian crisis originated through COVID-19. People can register as volunteers or someone
                    who needs help (for food, medicine, accommodation etc.) and NGOs/groups/individuals can register as
                    the ones helping people through the volunteers, our platform connects these two.</p>
                <a href="https://www.facebook.com/URHope.team/">Learn More</a>
            </div>
        </div>
    </div>
</div>

<!-- Twitter -->
<div class="container">
    <a class="twitter-timeline" href="https://twitter.com/urhope_team?ref_src=twsrc%5Etfw">Tweets by urhope_team</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<!-- End Twitter -->

<!--End Page Content -->

{% endblock %}
