{% extends "base_site1.html" %}

{% block title %} Login {% endblock title %}

{% block content %}

<!-- Page content -->
<div class="container mt-0">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-12">
            <div class="card-custom mt-2 mt-lg-0 help-card">
          <div class=" text-center mt-2 mb-3">
                    <h3 class="font-weight-bold my-3" style="text-align: center">Login</h3>
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            {% if (message.startswith("Logged")) %}
            <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                  aria-hidden="true">×</span></button>
              {{message}}
            </div>
            {% else %}
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                  aria-hidden="true">×</span></button>
              {{message}}
            </div>
            {% endif %}

            {% endfor %} {% endif %} {% endwith %}

          </div>
          {% if not 'logged_in' in session %}
                <form role="form" method="post" action="">
                    <div class="input-group mb-3 px-lg-3">

                        <input type="email" class="form-control" name="username" placeholder="Email" aria-label="Username"
                               aria-describedby="basic-addon1" required>
                    </div>
                    <div class="input-group mb-3 px-lg-3">

                        <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Username"
                               aria-describedby="basic-addon1" required>
                    </div>
                    <div style="text-align: center" class=" mb-3 px-lg-3">
                        <button class="btn btn-outline-primary" type="submit" style="width: 100%">Login</button>
                    </div>
                    <div style="text-align: center" class=" mb-3 px-lg-3 ">
                        <a href="{{ url_for('login') }}" class><p>Forgot Password?</p></a>
                    </div>
                    <div style="text-align: center" class=" mb-3 px-lg-3 ">
                        <p>Don't have an account? <a href="{{ url_for('signup') }}">Register</a></p>
                    </div>
                </form>
{% else %}
<p>You are Already Logged In<a href="{{ url_for('logout') }}"> Please Logout</a></p>
{% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}