{% extends "base_site.html" %}

{% block title %} Profile {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

    {% include "site_template/navigation.html" %}
      
    <!-- Header -->
    <div class="header pb-3 pt-5 pt-lg-3 d-flex align-items-center" style=" background-size: cover; background-position: center top;">
    <!-- Mask -->
    <!-- Header container -->
    </div>
      
    <!-- Page content -->
                  
                    
<div align="center">
<div class="row mt-5" >
        <div class="col-xl-8 ml-2 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h1 class="text-center mb-4" class="btn-success">Search results for {{ name }}</h1>
                </div>
            <div class="table-responsive">
              <!-- Projects table -->
              {% if data %}
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" style="font-size: 12px;">STATE</th>
                    <th scope="col" style="font-size: 12px;">District</th>
                    <th scope="col" style="font-size: 12px;">Type</th>
                    <th scope="col" style="font-size: 12px;">Description</th>
                    <th scope="col" style="font-size: 12px;">Contacts</th>
                    <th scope="col" style="font-size: 12px;">Links</th>
                    <th scope="col" style="font-size: 12px;">Eligibilty</th>
                    <th scope="col" style="font-size: 12px;">Documents</th>
                    <th scope="col" style="font-size: 12px;">Duration</th>
                    <th scope="col" style="font-size: 12px;">Updated On</th>
                  </tr>
                </thead>
                <tbody>
                  {% for value in data %}
                  <tr>
                    {% for i in value %}
                        <td scope="col">
                        {{ i }}
                        </td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <div class="">
                        <h3>There are no NGOs/Groups providing this help yet</h3>
                    </div>
                  </tr>
                {% endif %}    
                </tbody>

              </table>
			  </div>
            </div>
          </div>
        </div>
    </div>
        
    </div>   
  </div> 
	
{% endblock content %}

