{% extends "base_site1.html" %}

{% block content %}

<!-- Page Content -->
<center><a href="{{ url_for('helpline') }}"><button class="mt-4 btn btn-outline-success" style="width: 300px; font-size: 15px;">Covid Relief Initiatives (govt.) across UTs and States: Consolidated File</button></a></center>
                        
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-12">
            <div class="card-custom mt-2 mt-lg-0 pb-5">
                <h5 class="mb-3 mt-3 row justify-content-center font-weight-bold">Find relief anywhere</h5>
                <!--
                <div class="row justify-content-center">
                    <h6 class="mt-3 mb-3">Enter your pincode, city or state</h6>
                </div>
                -->
                <form id="find_relief" action="/find_relief">
                    <div class="autocomplete row justify-content-center px-lg-5 px-md-1">
 <div class="line"></div>
                        <div class="input-group flex-nowrap">
                            <input style="" id="myInput" type="text" name="pincode"
                                   class="form-control pincode-input-field"
                                   placeholder="Enter your Pincode" aria-label="Pincode"
                                   aria-describedby="addon-wrapping" autocomplete="autocomplete_off_hack_xfr4!k" required>
                            <button type="reset" class="btn btn-danger btn-sm pincode-reset-btn" value="Reset"><i
                                    class="fa fa-times-circle"></i></button>

                        </div>
                        <div class="col-12 mt-2 justify-content-center" style="text-align: center">
                            <p id="loc"></p></div>
                        <button type="submit" class="btn btn-primary mt-3">Submit</button>
						    <script src="/static/assets2/js/custom-js/POTABLE.js" type="text/javascript"></script>
							<script src="/static/assets2/js/custom-js/index.js" type="text/javascript"></script>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--End Page Content -->

{% endblock %}