{% extends "base_site1.html" %}

{% block content %}
<style>

  .profile-placeholder{
    text-align: center;
    margin: auto;
  }
  
  .profile-pic{
    width: 90px;
    border-radius: 50%;
    border: solid 1px white;
    margin: auto;
    margin-bottom: 10px;
  }

  .mb-4{
    min-height: 550px;
  }


  .tab-pane{
    text-align: center !important;
  }

  .social-links{
    font-size: 27px;
  }

.badge {
font-size: 15px;
margin-top:4px;
margin-bottom:4px;
}

.badge-outline {
    color: #007bff;
    border: 2px solid #999;
    border-radius: 33pX;
    background-color: transparent;
}

.badge-outline.badge-primary {
    border-color: #007bff;
}
</style>
       
        <div class = "col-md-12">

                <h3 class="text-center mt-4 mb-5">Meet Our Core Team</h3>

            <div class = "row">

              <div class = "col-md-4"> <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent">
                    <div class = "profile-placeholder"> <img src = "/static/assets2/img/team/siddhant.jpg" class = "profile-pic"> </div>
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"><strong> Siddhant</strong>  is the founder of Inclick, a Social Media Intelligence Platform. He mentored the development of URHope website from scratch. His love for coding and passion for social welfare has made 'URHope' to happen.

                        <div class = "social-links"> <a href = "https://linkedin.com/in/siddhantminocha"> <i class = "fa fa-linkedin-square"></i> </a> <a href = "https://twitter.com/siddhantmin"> <i class = "fa fa-twitter-square"></i> </a> </div>
</p>

<span class="badge badge-outline badge-primary">Web Development</span>
<span class="badge badge-outline badge-primary">Tech Mentor</span>
                    </div>
                    </div>
                    </div>
                    </div> </div>

              <div class = "col-md-4"> <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent">
                    <div class = "profile-placeholder"> <img src = "/static/assets2/img/team/farha.jpg" class = "profile-pic"> </div>
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"><strong> Farha</strong> is a blooming entrepreneur and a doctorate student at IIT Bombay. She works on Biomedical Sensors for Rehabilitation and Sports training. She is an active member of a student social initiative group called 'IIT Bombay for Justice'. She initiated the formation of URHope community and has been actively coordinating the teams to bring life to URHope platform. She aspires to bring food and shelter to migrant workers in need though her community
                        <div class = "social-links"> <a href = "https://www.linkedin.com/in/farha-memon-b292991a2/"> <i class = "fa fa-linkedin-square"></i> </a> </div>
</p>

<span class="badge badge-outline badge-primary">Operations</span>
                    </div>
                    </div>
                    </div>
                    </div> </div>
                  
              <div class = "col-md-4"> <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent">
                    <div class = "profile-placeholder"> <img src = "/static/assets2/img/team/priya.jpg" class = "profile-pic"> </div>
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"><strong> Priya</strong> Currently pursuing her PhD at IIT Bombay, Priya is looking at the policy debates around Indian surrogacy through a feminist philosophical lens. Being already involved with the social justice movements on the campus and beyond, URHope seemed to her just the right thing to initiate in these trying times of pandemic. Getting her theoretical and field expertise on board, she is leading the data extraction and analysis for the platform along with contributing in overall structure of the interface. She remains hopeful to contribute in building a more caring world
                        <div class = "social-links"> <a href = "https://www.linkedin.com/in/priya-sharma-47589b188"> <i class = "fa fa-linkedin-square"></i> </a> </div>
</p>

<span class="badge badge-outline badge-primary">Data Management and Handling</span>
                    </div>
                    </div>
                    </div>
                    </div> </div>
                  
              <div class = "col-md-4"> <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent"><a id="zuhair"></a>
                    <div class = "profile-placeholder"> <img src = "/static/assets2/img/team/zuhair.png" class = "profile-pic"> </div>
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"><strong> Zuhair </strong> is a Engineering student at K.C College Of Engineering, Thane. He is a enthusiastic coder who has worked on the URHope platform from begining. This young guy is not just a coder, his compassion to the part of society in need reflects in the fact that he has been working as a ground volunteer in Bandra, Mumbai to put food to plates of migrant worker.  
                        <div class = "social-links"> <a href = "https://linkedin.com/in/zuhairabs"> <i class = "fa fa-linkedin-square"></i> </a> <a href = "https://twitter.com/zuhairabs"> <i class = "fa fa-twitter-square"></i> </a><a href = "http://zuhairabs.github.io"> <i class = "fa fa-globe"></i> </a>  </div>
</p>

<span class="badge badge-outline badge-primary">Web Development</span>
<span class="badge badge-outline badge-primary">Backend</span>
<span class="badge badge-outline badge-primary">Frontend</span>
                    </div>
                    </div>
                    </div>
                    </div> </div>

              <div class = "col-md-4"> <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent"><a id="sharique"></a>
                    <div class = "profile-placeholder"> <img src = "/static/assets2/img/team/sharique.jpg" class = "profile-pic"> </div>
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"><strong> Sharique</strong> is a Computer Engineering student and the Technical Lead of ‘Programmer’s Club MHSSCE’ at M. H. Saboo Siddik College of Engineering. He is a Python Developer, Open Source Contributor, Competitive Programmer and enthusiastic about Artificial Intelligence. He is a technical writer on Medium and writes about Quantum Computing. He has conscientiously worked to develop URHope’s website.

                        <div class = "social-links"> <a href = "https://www.linkedin.com/in/sharique-shaikh/"> <i class = "fa fa-linkedin-square"></i> </a> <a href = "https://twitter.com/iamsksharique/"> <i class = "fa fa-twitter-square"></i> </a> </div>
</p>

<span class="badge badge-outline badge-primary">Web Development</span>
<span class="badge badge-outline badge-primary">Backend</span>
                    </div>
                    </div>
                    </div>
                    </div> </div>
                 
              <div class = "col-md-4"> <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent"><a id="furqan"></a>
                    <div class = "profile-placeholder"> <img src = "/static/assets2/img/team/furqaan.jpg" class = "profile-pic"> </div>
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"><strong> Furqaan</strong> is a Computer Engineering student who designs and codes on a daily basis. He is a passionate freelancer and a digital arbitrageur. His main aim is to provide solutions to global problems and to help make this world a better place to live in. He has enthusiastically contributed to the development of this platform.
                        <div class = "social-links"> <a href = "https://www.linkedin.com/in/furqaanthakur/"> <i class = "fa fa-linkedin-square"></i> </a> <a href = "https://twitter.com/furqaanthakur"> <i class = "fa fa-twitter-square"></i> </a> </div>
</p>

<span class="badge badge-outline badge-primary">Web Development</span>
<span class="badge badge-outline badge-primary">Frontend</span>
                    </div>
                    </div>
                    </div>
                    </div> </div>
                     
              <div class = "col-md-4"> <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent">
                    <div class = "profile-placeholder"> <img src = "/static/assets2/img/team/siraj.jpg" class = "profile-pic"> </div>
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"><strong> Siraj</strong> is a Data Science Engineer based in Noida who loves playing with Data. He is a social media activist, and is working on issues of Intercaste and Interfaith couples. He has generously contributed to URHope platform with his data science skills and made it a resourcefull platform for social welfare.
                        <div class = "social-links"> <a href = "https://www.linkedin.com/in/siraj-ansari-2aa937182/"> <i class = "fa fa-linkedin-square"></i> </a> </div>
</p>

<span class="badge badge-outline badge-primary">Data Collection</span>
                    </div>
                    </div>
                    </div>
                    </div> </div>
                     
              <div class = "col-md-4"> <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent">
                    <div class = "profile-placeholder"> <img src = "/static/assets2/img/team/pranav.jpg" class = "profile-pic"> </div>
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"><strong> Pranav</strong> is a PhD candidate in Artificial Intelligence at IIT Bombay. He actively works on the Social Media handles of URHope.
                        <div class = "social-links"> <a href = "https://www.linkedin.com/mwlite/in/pranav-jeevan-p-96aa7290"> <i class = "fa fa-linkedin-square"></i></a></div>
</p>

<span class="badge badge-outline badge-primary">Social Media</span>
                    </div>
                    </div>
                    </div>
                    </div> </div>
                     
              <div class = "col-md-4"> <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent">
                    <div class = "profile-placeholder"> <img src = "/static/assets2/img/team/saket.jpg" class = "profile-pic"> </div>
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"><strong> Saket</strong> is  an IIT Bombay alumnus and has worked on a few startup ideas in past. Currently, he is into product management with Niyo Solutions, a digital banking firm. He has helped in shaping up the product for Urhope.
                        <div class = "social-links"> <a href = "https://www.linkedin.com/in/saket-bhardwaj/"> <i class = "fa fa-linkedin-square"></i></a></div>
</p>

<span class="badge badge-outline badge-primary">Product Management</span>
                    </div>
                    </div>
                    </div>
                    </div> </div>
                     
              <div class = "col-md-4"> <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent">
                    <div class = "profile-placeholder"> <img src = "/static/assets2/img/team/aashita.jpg" class = "profile-pic"> </div>
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"><strong> Aashita</strong> is an Engineering student of Mechatronics at Banasthali Vidyapith , Rajasthan. She is training for Commercial Pilot License at BV gliding and flying club, Rajasthan. Apart from studies, her interests include Horse Riding and Rifle Shooting. She has worked on "Velocity measurement of airspeed" at DRDO, MoD, India. She is currently working on "Advancement and practicality of Solar Powered vehicles".
                        <div class = "social-links"> <a href = "https://in.linkedin.com/in/aashita-swami-391890165"> <i class = "fa fa-linkedin-square"></i> </a> </div>
</p>

<span class="badge badge-outline badge-primary">Data Collection</span>
                    </div>
                    </div>
                    </div>
                    </div> </div>
                     
              <div class = "col-md-4"> <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent"><a id="jino"></a>
                    <div class = "profile-placeholder"> <img src = "/static/assets2/img/team/jino.jpg" class = "profile-pic"> </div>
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"><strong> Jino Jossy </strong> is a Senior Software Engineer with almost 5 years of experience in web development industry. He is very interested in contributing to projects which are for helping people in need. He has contributed in similar projects like keralarescue.in and covid-dashboard.qburst.build. He is also part of GDG Trivandrum chapter. He has recetly started working on the backend of URHope.  
                        <div class = "social-links"> <a href = "https://in.linkedin.com/in/jino-jossy"> <i class = "fa fa-linkedin-square"></i> </a> <a href = "https://twitter.com/jinojossy93"> <i class = "fa fa-twitter-square"></i> </a><a href = "http://jino.work/"> <i class = "fa fa-globe"></i> </a>  </div>
</p>

<span class="badge badge-outline badge-primary">Web Development</span>
<span class="badge badge-outline badge-primary">Backend</span>
                    </div>
                    </div>
                    </div>
                    </div> </div>
                     
              <div class = "col-md-4"> <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent">
                    <div class = "profile-placeholder"> <img src = "/static/assets2/img/team/neelam.jpg" class = "profile-pic"> </div>
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"><strong> Neelam</strong> is an alluminus of IIT Bombay and has worked for social awareness under NGO  "Bachpan Bachao Andolan". Currently, She works as Senior manager with PerSapien group for creating better technologies. She is an active member of URHope community and aspires to use her experience in social initiatives to help people in need.
                        <div class = "social-links"> <a href = "https://www.linkedin.com/in/neelamrathore/"> <i class = "fa fa-linkedin-square"></i> </a> </div>
</p>

<span class="badge badge-outline badge-primary">Operations</span>
                    </div>
                    </div>
                    </div>
                    </div> </div>
                    
              <div class = "col-md-4"> <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent">
                    <div class = "profile-placeholder"> <img src = "/static/assets2/img/team/vivek_g.jpg" class = "profile-pic"> </div>
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"><strong> Vivek Gunawat</strong> is an alumnus of the Indian Institute of Technology, Guwahati and is currently an MBA candidate at IIM Kozhikode. He is actively working on bring better technologies to URHope community
                        <div class = "social-links"> <a href = "https://www.linkedin.com/in/vivekgunawat/"> <i class = "fa fa-linkedin-square"></i></a> <a href = "https://twitter.com/iamgunti"> <i class = "fa fa-twitter-square"></i> </a></div>
</p>

<span class="badge badge-outline badge-primary">Operations</span>
                    </div>
                    </div>
                    </div>
                    </div> </div>
                    
              <div class = "col-md-4"> <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent">
                    <div class = "profile-placeholder"> <img src = "/static/assets2/img/team/aparna.jpg" class = "profile-pic"> </div>
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"><strong> Aparna Rao</strong> is a Senior Project Manager at DSSE , IITBombay and mentors IIT Bombay student startups. She is associated with  Mumbai University, Dibrugarh University and Andhra Pradesh university as well. She is engaged with social initives under Deshpande Foundation, Skill in Village programs and curriculum development Hubli.. She has associated  with several engineering and business schools in Mumbai including SPCE, SPIT, Fr. Agnel’s, DBIT, JBIMS, KJ Somaiya’s IMSR, SIESCOMS and Chetana’s She is a mentor for Aspire for Her Foundation for young girls aspiring for career development guidance.
</p>

<span class="badge badge-outline badge-primary">Mentor</span>
                    </div>
                    </div>
                    </div>
                    </div> </div>
                 </div>
                 
                 <div class = "row">

             <div class = "col-md-12 col-lg-10 mb-2">    
              <div style = "padding: 65px; border-radius: 21px;" class = "card shadow">
<h5 class="mt--2 text-center">We are Immensely thankful to the volunteers who contributed</h5>
<p><b>Data Collection:</b> <br>
<span class="badge badge-pill badge-primary">Sai Rajan</span>
<span class="badge badge-pill badge-primary">Aparna</span>
<span class="badge badge-pill badge-primary">Ajmala</span>
<span class="badge badge-pill badge-primary">Dheeraj</span>
<span class="badge badge-pill badge-primary">Kaniska</span>
<span class="badge badge-pill badge-primary">Pravesh</span>
<span class="badge badge-pill badge-primary">Sana</span>
<span class="badge badge-pill badge-primary">Sania</span>
<span class="badge badge-pill badge-primary">Saurabh</span>
<span class="badge badge-pill badge-primary">Manish</span>
<span class="badge badge-pill badge-primary">Akshay</span>
<span class="badge badge-pill badge-primary">Jai</span>
<span class="badge badge-pill badge-primary">Raheel</span>
<span class="badge badge-pill badge-primary">Meraj</span>
<span class="badge badge-pill badge-primary">Sohail</span>
<span class="badge badge-pill badge-primary">Vikas</span>
<span class="badge badge-pill badge-primary">Deepak</span>
<span class="badge badge-pill badge-primary">Sonia</span>
<span class="badge badge-pill badge-primary">Ria</span>
<span class="badge badge-pill badge-primary">Nitendrana</span>
<span class="badge badge-pill badge-primary">Prashant</span>
<span class="badge badge-pill badge-primary">Manjita</span>
<span class="badge badge-pill badge-primary">Gurdit</span>
<span class="badge badge-pill badge-primary">Tejendra</span>
<span class="badge badge-pill badge-primary">Charit</span>
<span class="badge badge-pill badge-primary">Bhoomika</span>
<span class="badge badge-pill badge-primary">Suchisree</span>
<span class="badge badge-pill badge-primary">Mrinal</span>
<span class="badge badge-pill badge-primary">Poonam</span>
<span class="badge badge-pill badge-primary">Shivam</span>
<span class="badge badge-pill badge-primary">Akshay</span>
<span class="badge badge-pill badge-primary">Aniket</span>
<span class="badge badge-pill badge-primary">Hariom</span>
<span class="badge badge-pill badge-primary">Shruti</span>
<span class="badge badge-pill badge-primary">Suman</span>
<span class="badge badge-pill badge-primary">Disha</span>
<span class="badge badge-pill badge-primary">Aditya</span>
<span class="badge badge-pill badge-primary">Rajan</span>
<span class="badge badge-pill badge-primary">Praroop</span>
<span class="badge badge-pill badge-primary">Naman</span>
<span class="badge badge-pill badge-primary">Neeraj</span>
<span class="badge badge-pill badge-primary">Deepali</span>
<span class="badge badge-pill badge-primary">Madhura</span>
</p>
<p> <b>Tech:</b> <br>
<span class="badge badge-pill badge-primary">Sayak</span>
</p>
               </div>
               </div>
               </div>       
                  
                  </div>
                 
                 <div class = "row">

                  <div class = "col-md-2 xs-hidden sm-hidden">
                  </div>
             <div class = "col-md-8 col-xs-10 col-sm-10">    
              <div style = "background: #f1f1f1; padding: 65px; text-align: center; border-radius: 21px;" class = "shadow sm-hidden xs-hidden">
                 <h1> If you like what we do, join us today! </h1>
                 {% if not "logged_in" in session %}
                 <a href = "{{ url_for('signup') }}" class = "btn btn-primary"> Become a Volunteer <i class = "fa fa-rocket"></i> </a>
                 {% else %}
                 <a onclick="alert('Already Logged In')" class = "text-white btn btn-primary"> Become a Volunteer <i class = "fa fa-rocket"></i> </a>
                 {% endif %}
               </div>
               </div>
               </div>       
                  
                  </div>
{% endblock %}
